*.pyc
*.npy
*.npz
*.pkl
*.ckpt
.idea/
.ipynb_checkpoints/
.DS_Store

# Don't push the cat/dog images
/model_training_data
/models/cat_eating_fancy_ice_cream.jpg.838x0_q80.jpg
/models/Natural-Dog-Law-2-To-dogs,-energy-is-everything.jpg
/images
# Don't push the pretrained models
*.pth
# Don't push associated information
*.txt

MVPpresentation.md
